* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Component */
.header {
  background-color: #2c3e50;
    color: white;
}
.header h1 {
  font-size: 2rem;
  
}

.header nav a.active {
  border-bottom: 2px solid #ffffff;
}

nav {
  display: block; /* Aligns links horizontally */
  justify-content: center; /* Center the links, adjust as needed */
}

nav a {
  color: white;
  margin: 0px; /* Increased margin */
  padding: 0 20px; /* Increased padding */
  text-decoration: none;
  font-size: 1rem;
}

/* Responsive Design for Header Links */
@media (max-width: 600px) {
  .header nav a {
    margin: 0 10px; /* Adjust margin for smaller screens */
  }
}

/* AboutMe Component */
.about-me {
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
} 

.profile-picture {
  width: 300px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #2c3e50;
}

/* Portfolio Component */
.portfolio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
/* Project Component inside Portfolio */
.project {
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
}

.project img {
  max-width: 100%;
  height: auto;
}
/* Contact Component */
.contact-form {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.contact-form button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
/* Resume Component */
.resume {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
}

/* Footer Component */
.footer {
  color: white;
  padding: 1rem;
  text-align: center;
}
.footer a{
  color: #282c34;
  margin: 0px;
  padding: 0 20px;
}
.footer a.active {
  border-bottom: 2px solid #61dafb; /* Style for active link */
}
/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-me img {
    max-width: 150px;
  }

  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project {
    width: 45%;
    margin-bottom: 1rem;
  }
}